
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}


<h3>Statistics</h3>
<script src="~/Scripts/cookies.js"></script>

<script>
    alert(docCookies.getItem("NoriyToken"));
</script>