<!-- ko with: login -->


<section style="text-align: left; width: 400px; float:right;">

    <form class="form-horizontal" role="form">
        <h4>Use a Noriy account to log in.</h4>
        <hr>
        <ul class="text-danger" data-bind="foreach: errors"></ul>
        <div class="form-group">
            <label class="col-md-2 control-label" for="LoginUserName">Username</label>
            <div class="col-md-10">
                <input id="LoginUserName" class="form-control" data-bind="value: userName, hasFocus: true" type="text"><span style="display: none;" class="validationMessage"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="LoginPassword" class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
                <input id="LoginPassword" class="form-control" data-bind="value: password" type="password"><span style="display: none;" class="validationMessage"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input id="LoginRememberMe" data-bind="checked: rememberMe" type="checkbox">
                    <label for="LoginRememberMe">Remember me?</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default" data-bind="click: login, disable: loggingIn">Log in</button>
            </div>
        </div>
        <p><a href="#" data-bind="click: register">Register</a> if you don't have a Noriy account.</p>
    </form>
</section>
    <h1>Surf the web with no risks!</h1>

    <div class="row">
    <section class="col-md-4">
        <h4>Use another service to login.</h4>
        <hr />
        <div data-bind="visible: loadingExternalLogin">Loading...</div>
        <div data-bind="visible: !loadingExternalLogin()">
            <div data-bind="visible: !hasExternalLogin()">
                <p>
                    There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                    for details on setting up this ASP.NET application to support logging in via external services.
                </p>
            </div>
            <form class="form-horizontal" role="form" data-bind="visible: hasExternalLogin">
                <p data-bind="foreach: externalLoginProviders">
                    <button type="submit" class="btn btn-default" data-bind="text: name, id: name, attr: { title: 'Log in using your ' + name() + ' account' }, click: login"></button>
                </p>
            </form>
        </div>
    </section>
</div>
<!-- /ko -->
